<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

<body>

    {% include nav.html %}
    
<!-- Post Header -->

<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                <img src="{{ site.baseurl }}/{{ page.tile-img }}" style="display: none;"/>
                
				{{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

    
    
    
{% if page.comments %}
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>
                <h2 class="subheading">Comments</h2>
                <!--Comments-->
                {% assign comments = site.data.comments[page.slug] %} <!-- | sort -->{% for comment in comments reversed %}{% assign commentData = comment[1] %}
                <div class="comment">
                    {{ commentData.comment }}
                </div>
                <span class="comment-name">By <b>{{ commentData.name }}</b> on {{ commentData.date | date: "%B %-d, %Y" }}</span> <p></p>
                {% endfor %}
                
                <!--Comment Form-->
                <hr>
                <h2 class="subheading">Add a comment</h2>
                <div class="comment-form">
                    <form method="POST" action="https://api.staticman.net/v2/entry/jeffreyxparker/jeffreyxparker.github.io/master/comments">
                        <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
                        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
                        <textarea class="comment-text" name="fields[comment]" placeholder="Your comment (markup allowed)"></textarea>
                        <input class="comment-name-input" name="fields[name]" type="text" placeholder="Display name">
                        <input class="comment-email" name="fields[email]" type="email" placeholder="Email address" size="30">
                        <p></p>
                        <button type="submit">Submit</button>
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% endif %}
    
<hr>

    {% include footer.html %}

    {% include ga.html %}

</body>

</html>